
stages:
  - version
  - test_Publish
jobs:
  include:
    - stage: version
      script: 
        - echo "Do SemanticVersioning......................."

    - stage: test_Publish
      sudo: required
      language: csharp
      solution: {{{packageName}}}.sln
      mono: latest
      install:
        - nuget restore HoneybeeDotNet.sln
        - nuget install NUnit.ConsoleRunner -Version 3.10.0 -OutputDirectory packages
        - msbuild /p:Configuration=Release HoneybeeDotNet.sln
      script:
        - rm -f src/HoneybeeDotNet.Test/bin/Debug/HoneybeeDotNet.Test.dll
        - mono ./packages/NUnit.ConsoleRunner.3.10.0/tools/nunit3-console.exe src/HoneybeeDotNet.Test/bin/Release/HoneybeeDotNet.Test.dll
      deploy:
        skip_cleanup: true
        provider: script
        script: 
          - nuget pack src/HoneybeeDotNet/HoneybeeDotNet.csproj -Build -Version {{packageVersion}}
          - nuget push *.nupkg -ApiKey $NUGET_API_KEY -Source $NUGET_SOURCE
        on:
          branch: master
          condition: '"x${NUGET_API_KEY}" != "x" && "x$NUGET_SOURCE" != "x"